.main{
    height:60vh;
    margin-top:15vh ;
    /* background-color: rgb(58, 54, 54); */
}
.members{
    padding-left: 4vw;
    display: flex;
}
h1{
    padding-left: 5vw;
}
.member{
    width: 15vw;
    background-color: rgba(255, 255, 255, 0.063);
    margin: 2vh;
    border-radius:0 0 25% 25%;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profilepic{
    padding: 2vh;
    border-radius: 50%;
    width: 10vw;
}

p{
    font-size: 1.25vw;
    font-weight: bold;
    padding-bottom: 2vh;
}

.sendsmstoprasaya{
    display: flex;
    width: 50vw;
    justify-content: left;
    padding-left: 5vw;
    margin: 1vh;
}

#msghere{
    padding: 1vh;
    border-radius: 2vh;
}

#sendme{
    margin: 1vh;
    padding: 1vh;
    border-radius: 2vh;
}
hr{
    width: 50vw;
    margin-left: 4.95vw;
}