@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

.mainhome{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding-left: 5vw;
    height:55vh;
    margin-top:10vh ;
    /* background-color: rgb(58, 54, 54); */
}
.des{
    color: rgb(0, 0, 0);
    font-size: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vh;
    font-family: 'Andika', sans-serif;
}

#message{
    width: 45vw;
    height: 7.5vh;
    border-radius: 25px;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color:rgb(255, 255, 255) ;
    transition: .2s;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#message:focus{
    /* transform: rotate(45deg); */
    outline: none;
    border: none;
    width: 15vw;
}


.hid{
    display: none;
}

#test{
    margin: 1vw 0;
    padding: 10px 2vw;
    background: rgba(40, 89, 163, 0.09);
    width: 45vw;
    color: rgb(2, 2, 2);
    border-radius: 2vw;
    text-align: center;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sussy{
    position: relative;
    text-align: center;
    margin-top: 30vh;
}

#sust{
    position: relative;
    padding: 2vw;
}

#did{
    color: white;
    text-shadow: 2px 2px black;
}

.check{
    color: rgba(0, 0, 0, .8);
    padding: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    width: 100%;
}

#result{
    display: flex;
    justify-content: space-between;
}

#srap{
    position: absolute;
    background: rgba(237, 237, 237, 0.856);
    width: 30vw;
    margin: 3vw;
    font-size: 1vw;
    text-align: center;
    padding: 2vw;
    left:55vw;
    bottom: 2vw;
    border-radius: 2vh;
}

#scroll{
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}

#scrolldown{
    border-radius: 2vw;
    font-size: 1vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#scrolled{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


#send-info-through-sms{
    position: absolute;
    bottom: 0vh;
    left:45vw;
    width: 10vh;
    transition: 0.2s;
}
#send-info-through-sms:hover{
    transform: scale(.3);
    transform: rotate(15deg);
    cursor: pointer;
}
#send-info-through-sms:active{
    transform: rotate(-15deg);
}