.mainhome{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding-left: 5vw;
    height:55vh;
    margin-top:20vh ;
    /* background-color: rgb(58, 54, 54); */
}
.des{
    color: black;
    font-size: 2.5vh;
    padding-left: 2vw;
    padding-bottom: 2vh;
    font-family: sans-serif;
}

#message{
    width: 45vw;
    height: 7.5vh;
    border-radius: 25px;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color:white ;
    transition: .2s;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#message:focus{
    /* transform: rotate(45deg); */
    border: none;
    width: 15vw;
}


.hid{
    display: none;
}

#test{
    color: white;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}