.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 2.5vw;
  align-items: center;
  /* background-color: #e6f1fb; */
}

.App-logo-div{
  height:25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:6vw ;
}
.App-logo{
  height: 15vh;
  transition: .2s;
  transform: scale(1.25);
}

.App-logo:hover{
  transform: scale(1.5);
}

a{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
a:visited{
  color: black;
}

a:hover{
  color: white;
}
.nav{
  display: flex;
  align-items: center;
}
.nav-item{
  list-style: none;
  padding: 1.2vh 1vh;
  margin: 3.5vw;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
  /* background-color: white; */
  color: black;
  border-radius: 1vw;
  width: 8vw;
  text-align: center;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-item:hover{
  background-color: black;
  color: white;
  transform: scale(1.5);
}

#userphoto{
  padding: .5vw;
  border-radius: 50%;
  margin: 0;
  width: 5vw;
}
.userpo{
  width: 10%;
}



